<div class="chat-container">
  <div class="messages-container" #scrollContainer>
    <div *ngFor="let message of messages" class="message">
      <div class="message-content">{{ message.content }}</div>
      <div class="message-timestamp">{{ message.timestamp }}</div>
    </div>

    <div *ngFor="let message of newMessagesSent" class="message sent-message">
      <div class="message-content">{{ message.content }}</div>
      <div class="message-timestamp">{{ message.timestamp }}</div>
    </div>
  </div>

  <div class="input-container">
    <input
      [(ngModel)]="newMessage"
      (keydown.enter)="sendMessage()"
      (blur)="stopTyping()"
      (input)="startTyping()"
      class="message-input"
      placeholder="Digite uma mensagem..."
    />
    <button (click)="sendMessage()" class="send-button">Enviar</button>
  </div>

  <div class="typing-users" *ngIf="typingUsers.length > 0">
    {{ typingUsers.join(', ') }} estão digitando...
  </div>

  <div class="users-container">
    <div *ngFor="let user of users" class="user">
      {{ user }}
      <button (click)="sendPrivateMessage(user)" class="private-message-button">Enviar Mensagem Privada</button>
    </div>
  </div>

  <div class="private-messages-container">
    <div *ngFor="let privateMessage of privateMessages" class="private-message">
      <span class="private-message-sender">{{ privateMessage.user }}:</span> {{ privateMessage.message }}
    </div>
  </div>

  <button (click)="exitChat()" class="btn-exit">Sair</button>
</div>
